[Desktop Entry]
Name=Hermitage
GenericName=Calibre Library Browser
Comment=A visually immersive, local-first media sanctuary for Calibre libraries
Exec=hermitage
Icon=io.github.virinvictus.hermitage
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=io.github.virinvictus.hermitage
Categories=GTK;Office;Viewer;
Keywords=calibre;ebook;library;reader;books;
MimeType=application/x-calibre-database;
